.Search-container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;

    font-size: 1rem;
}

.Search {
    height: max-content;
    width: 400px;
    padding: 7px 0;

    border: 0;
    border-bottom: 2px solid;
    border-image-slice: 1;
    outline: 0;

    background: transparent;
    transition: 0.4s;

    font-family: inherit;
    font-size: 1.3rem;
    color: white;
}

.Search:focus,
.Search:hover {
    border-image: linear-gradient(66deg, seagreen, darkslategrey) 1;
}

.Search-history {
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: lightgray;
    font-weight: 200;
}

.Search-history ol {
    list-style: circle;
    margin-block: 0;
    padding: 0;
    margin: 0 8px 0 8px;

    font-size: 1.1rem;
    font-style: italic;
}

.Search-history li {
    display: inline-block;
    margin: 0 8px 0 8px;
}

.Search-lastSearch {
    background: linear-gradient(66deg, seagreen, transparent, darkslategrey) no-repeat 40% 80%;
    background-size: 90% 2px;
}