.Search-container {
    width: 100%;
    display: grid;
    grid-template-rows: 200px auto;
    align-items: center;
    justify-items: center;

    font-size: 1rem;

    transition: 0.4s;
}

.Search {
    height: max-content;
    width: 400px;
    padding: 7px 0;

    border: 0;
    border-bottom: 2px solid;
    border-image-slice: 1;
    outline: 0;

    background: transparent;

    font-family: inherit;
    font-size: 1.3rem;
    color: white;

    transition: 0.4s;
}

.Search:focus,
.Search:hover {
    border-image: linear-gradient(66deg, seagreen, darkslategrey) 1;
}

.Search-history {
    background: #2f4f4f15;
    border-radius: 4px;
    height: 100%;
    padding: 4px;

    color: lightgray;
    font-weight: 200;
}

.Search-lastSearch {
    background: linear-gradient(66deg, seagreen, transparent, darkslategrey) no-repeat 40% 80%;
    background-size: 90% 2px;

    font-weight: 200;
}

.Search-placeholder {
    height: 200px;
}